.data-row {
    width: 60vw;
    margin: 1.3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0.5rem 0.5rem;
    padding: 1.5rem;
    word-break: break-all;
}
.data-row img {
    width: 75%;
}
.row-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

@media only screen and (max-width : 450px){
    .data-row {
        width: 80vw;
    }
}