.post-container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.post-container img {
    width: 40vw;
}

.post-container a {
    margin: 1.5rem;
    word-break: break-all;
}

.post-container .post-comments {
    width: 70vw;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1.5rem;
}

.post-container .post-marquee {
    display: flex;
    justify-content: space-between;
    margin: 1.3rem;
}

.post-comments {
    word-break: break-all;
}

.content h2 {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .post-container h2 {
        font-size: 1.2rem;
        margin: 0.5rem;
    }
    .only-desktop {
        display: none;
    }
    .post-container img {
        width: 75vw;
    }
}