:root {
  --reddit-color : #ff4500;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1 img {
  height: 3.5rem;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.3rem;
}

.nav-link{
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 0.3rem;
  border-radius: 15px;
  font-weight: bold;
}

nav form {
  display: flex;
  align-items: center;
  background-color: var(--reddit-color);
  padding: 0.7rem;
  border-radius: 15px;
}

nav input[type="text"] {
  font-size: 1.4rem;
  width: 10rem;
  outline: none;
}
nav input[type="submit"] {
  background-color: var(--reddit-color);
  border: 0;
  cursor: pointer;
}

@media only screen and (max-width: 450px){
  .only-desktop {
    display: none;
  }
  nav input[type="text"] {
    width: 6rem;
  }
}